#article_header{
	width: 100%;
	height: 85%;
	margin: 0;
}

.logo_desc{
	width: 100px;
}

.conteneur_logo_desc ul{
	margin: auto;
	text-align: center;;
}

.conteneur_logo_desc li{
	text-decoration: none;
	display: inline-block;
	margin: 15px 4%;
}

p.logo_desc{
	font-family: Montserrat_Light;
    display: block;
    margin-top: 10px;
    font-size: 1.5em;
;}