/*******	HEADER	******/

.owl-carousel
{
	position: relative;
  	height: 75%;
  	overflow: hidden;
}

.owl-carousel img
{
  	width: 100%;
}

.owl-carousel .item
{
	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

#articletitle
{
	position: absolute;
	color: white;
	font-family: Arenq;
	font-style: bold;
	top: 37.5%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 1;
}

.logo_desc{
	width: 100px;
}

.conteneur_logo_desc ul{
	margin: auto;
	text-align: center;;
}

.conteneur_logo_desc ul p {
	text-align: center;
}

.conteneur_logo_desc li{
	text-decoration: none;
	display: inline-block;
	margin: 15px 4%;
}

.article p.logo_desc{
	font-family: Montserrat_Light;
    display: block;
    margin-top: 10px;
    font-size: 1.25em;
}

.article p{
	font-family: Montserrat;
	text-align: justify;
}


#itineraire_conteneur{
	padding-top: 50%;
	background: url(../img/carte.png) no-repeat center center;
  	background-size: cover;
  	border: 2px #000;
  	border-style: dashed;
}

.food_img{
	display: table-cell;
 	vertical-align:middle;
	padding-top: 24%;
  	background-size: cover;
  	border: 2px #000 solid;


}

.food_conteneur{
	display: table;
	position: relative;
}

.food_conteneur .food_img, .food_conteneur .food_txt{
    float: none;
}

.food_conteneur--left {
    margin-top: 50px;
}

.food_conteneur--left .food_txt{
    padding-left: 4%;
}

.food_conteneur--right .food_txt{
    padding-right: 4%;
}

.food_txt {
	display: table-cell;
 	vertical-align:middle;
}
.article .video{
	height: 555px;
	margin-bottom: 8em;
}



