/*******	HEADER	******/

#article_header{
	width: 100%;
	height: 75%;
	margin: 0;
}

#article_header  #header #title_logo{
	top: 38%;
}

.logo_desc{
	width: 100px;
}

.conteneur_logo_desc ul{
	margin: auto;
	text-align: center;;
}



.conteneur_logo_desc li{
	text-decoration: none;
	display: inline-block;
	margin: 15px 4%;
}

.article p.logo_desc{
	font-family: Montserrat_Light;
    display: block;
    margin-top: 10px;
    font-size: 1.25em;
}

.article p{
	font-family: Montserrat;
	text-align: justify;
}


.article .title {
	font-family: Arenq;
    font-size: 3.5em;
    overflow: hidden;
    margin: 0;
    text-align: center;
    font-weight: bold;
    padding: 0.75em;
}

#itineraire_conteneur{
	padding-top: 50%;
	background: url(../img/carte.png) no-repeat center center;
  	background-size: cover;
  	border: 2px #000;
  	border-style: dashed;
}

.food_img{
	display: table-cell;
 	vertical-align:middle;
	padding-top: 22%;
	background: url(../img/noodles.jpg) no-repeat center center;
  	background-size: cover;
  	border: 2px #000 solid;


}

.food_conteneur{
	display: table;
	position: relative;
}

.food_conteneur .food_img, .food_conteneur .food_txt{
    float: none;
}

.food_conteneur--left {
    margin-top: 50px;
}

.food_conteneur--left .food_txt{
    padding-left: 4%;
}

.food_conteneur--right .food_txt{
    padding-right: 4%;
}

.food_txt {
	display: table-cell;
 	vertical-align:middle;
}
.article .video{
	height: 430px;
	margin-bottom: 5em;
}



