
.wrapper {
  width: 60%;
  height: 50%;
  margin: 5% auto 0 auto; 
}
.font {
  font-size: 16px;
  font-family: Montserrat_Semi-Bold;
  letter-spacing: 2px;
  color: black;
}

.font:hover
{
  color: white;
}
.form {
  text-align: center; 
  -webkit-animation: bounce 1.5s infinite;
  -moz-animation: bounce 1.5s infinite;
  animation: bounce 1.5s infinite;
}

.field-in {
  display: block;
  margin: 10px auto;
  padding: 10px;
  border: none;
  width: 60%;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.2s ease 0s;
}
.name {  
  border: 5px solid black;
  color: black;
}
.name:hover{
  background-color: black;
  color: white;
}
.name:focus, .email:focus, .message:focus{
  outline: none;
  padding:15px;
}
.email {  
  border: 5px solid black;
}
.email:hover{
  background-color: black;
  color: white;
}
.message {   
  border: 5px solid black;
  height: 50px;
  overflow: hidden;
}
.message:hover{
  color: white;
  background-color: black;
  height: 150px;
}
.submit{
  background-color: white;
  height: 50px;
  padding: 0px 20px; 
  border: 5px solid black;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.2s ease 0s;
}
.submit:hover{
  color: white;
  cursor: pointer;
  background-color: black;
}
::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder { 
   color: black;
}

::-moz-placeholder { 
   color: black; 
}

:-ms-input-placeholder {  
   color: black;  
}