/* #cat_decouverte {
	background: url(../img/experiences/decouverte.jpg) no-repeat center center;
  	background-size: cover;
} */

.conteneur_categories ul{
	margin: auto;
	text-align: center;;
}

.conteneur_categories li{
	background: url(../img/experiences/decouverte.jpg) no-repeat center center;
  	background-size: cover;
	text-decoration: none;
	display: inline-block;
	padding: 15px 4%;
	margin-top: 3em;
	margin-right: 2px;
	opacity: 1;
	transform: matrix(1, 0, 0, 1, 0, 0);
}
/* 
#cat_decouverte a {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    text-align: center;
    width: 19.5%;
    margin: .25%;
    line-height: 183px;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
} */

/* .conteneur_categories .middle{
	display: inline-block;
    vertical-align: middle;
    line-height: normal;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    position: relative;
    z-index: 2;
    margin: 0 10px;
}
 */
/* .conteneur_categories .middle img{
	margin: 0, auto;
	display: block;
} */

.box_cat{
	height: 120px;
}

.box_cat_layout{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    opacity: 0.3;
}

.conteneur_categories ul a:hover{
	background: rgba(0, 0, 0, 0.0);
	-webkit-transition: background 1s linear;
	   -moz-transition: background 1s linear;
	     -o-transition: background 1s linear;
	        transition: background 1s linear;
}

.logo_categorie, .logo{
	width: 100px;
}

.main_logo_cat{
	width: 200px;
}

#top_title{
	text-align: center;
}

#top_title .title{
	padding: 0;
}

.conteneur_categories h2{
	text-align: center;
	color: #FFF;
	font-size: 1em;
}

.article_conteneur {
    font-size: 0; 
    margin: 0 -0.75%;
    padding-bottom: 150px;
}

.article_conteneur a {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    width: 31.5%;
    margin: 0.75%;
    line-height: 212px;
    position: relative;
    overflow: hidden;
}

.loadImageHide {
    display: none!important;
}

.article_conteneur a .bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../img/experiences/decouverte.jpg) no-repeat center center transparent;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.article_conteneur a .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.article_conteneur a .middle {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    position: relative;
    z-index: 1;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.article_conteneur a .middle h2 {
    font-size: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 900;
    margin: 0 20px;
}