@import 'grid.css';
@import 'parallax.css';
#import 'article.css';

@font-face
{
	font-family: Arenq;
	src: url(../fonts/arenq.otf);
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

a{
	text-decoration: none;
	color: inherit;
}

#home {
	width: 100%;
	height: 100%;
	margin: 0;
	background-image: url(../img/background.jpg);
	background-size: cover;
}

#title_logo
{
	position: absolute;
	font-family: Arenq;
	color: white;
	left: 50%;
	top: 50%;
	font-size: 5em;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
	line-height: 100%;
	margin: 0;
	text-shadow: 5px 5px 10px #000000;
	letter-spacing: 5px;
}

#menu
{
	position: absolute;
	width: auto;
	height: 50px;
	top: 0;
	right: 0;
	background-color: yellow;
	list-style: none;
	margin: 0;
}

#menu li
{
	display: inline-block;
}

.center{
	margin: auto;
	display: block;
    float: none;
}

img{
	/* background-size: cover; */
	/* width: 100%; */
}

.row *{
    height: 300px;
    overflow:hidden;
  	position:relative;
  	margin-top: 10px;
	margin-bottom: 10px;
}

.member_block{
	text-align: center;
}

.contener_member{
	width: 80%;
}

.title{
	display: block;
}