@import 'normalize.css';
@import 'skeleton.css';
@import 'parallax.css';
@import 'contactform.css';

@font-face
{
	font-family: Arenq;
	src: url(../fonts/arenq.otf);
}

@font-face
{
	font-family: Montserrat;
	src: url(../fonts/Montserrat-UltraLight.otf);
}

@font-face
{
	font-family: Montserrat Semi-Bold;
	src: url(../fonts/Montserrat-SemiBold.otf);
}

html, body
{
	width: 100%;
	height: 100%;
	margin: 0;
}

a
{
	text-decoration: none;
	color: inherit;
}

p
{
	margin: 0;
}

#home {
	width: 100%;
	height: 100%;
	margin: 0;
	background-image: url(../img/background.jpg);
	background-size: cover;
}

#title_logo
{
	position: absolute;
	font-family: Arenq;
	color: white;
	left: 50%;
	top: 50%;
	font-size: 5em;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
	line-height: 100%;
	margin: 0;
	text-shadow: 5px 5px 10px #000000;
	letter-spacing: 5px;
}

#menu
{
	position: fixed;
	right: 0px;
	top: 0;
	list-style: none;
	margin: 0;
	margin-right: 6px;
	z-index: 2;
	height: 50px;
}

#menu li
{
	display: inline-block;
	font-family: Montserrat;
	color: black;
	font-size: 1.2em;
	margin-right: 15px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#menu li:hover
{
	color: red;
}

#actuality
{
	margin-top: 100px;
	text-align: center;
	font-family: Montserrat Semi-Bold;
	font-size: 3em;
}

#actualityc
{
	margin-top: 10px;
	border: 5px solid black;
	padding: 20px;
	height: auto;
	font-family: Montserrat;
	margin-bottom: 100px;
}

#actualityc p
{
	text-align: justify;
}

#ourteam
{
	margin-top: 50px;
	margin-bottom: 20px;
}

#members
{
	text-align: center;
	font-size: 1.5em;
	line-height: 1em;
	margin-bottom: 30px;
}

.avatar
{
	width: 150px;
	height: 150px !important;
	border-radius: 50%;
	background-color: black;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 30px;
}

.row
{
	height: auto;
	margin-bottom: 5px;
}

.member_block{
	text-align: center;
}

.contener_member{
	width: 80%;
}

.title
{
	font-family: Montserrat Semi-Bold;
	font-size: 3.5em;
	overflow: hidden;
	margin: 0;
}

.title h1
{
	line-height: 0;
}

.center
{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.images
{
	height: 300px;
}

.onethird1
{
	width: 33.333%;
}

.twothirds1
{
	width: calc(66.666% - 10px);
	margin-right: 10px;
}

.onethird2
{
	width: calc(33.333% - 10px);
	margin-right: 10px;
}

.twothirds2
{
	width: 66.666%;
}

#contactus
{
	margin-top: 50px;
	margin-bottom: 20px;
}

#contact
{
	margin-bottom: 100px;
}