		<header class="article_header" id="header_" data-title="Pic the best experience"></header>
		<nav></nav>
		<div id="page">
			<div class="conteneur_categories">
				<ul id="cat_decouverte" >
					<a href="#">
						<li class="logo_desc">
							<img id="logo_decouverte" class="logo_categorie" src="img/logos/foret_white.png" alt="">
							<h2>DECOUVERTE</h2>
						</li>			
					</a>	
					<a href="#">
						<li class="logo_desc">
							<img id="logo_foret" class="logo_categorie" src="img/logos/foret_white.png" alt="">
							<h2>FORÊT</h2>
						</li>			
					</a>
					<a href="#">
						<li class="logo_desc">
							<img id="logo_mer" class="logo_categorie" src="img/logos/foret_white.png" alt="">
							<h2>MER</h2>
						</li>			
					</a>
					<a href="#">
						<li class="logo_desc">
							<img id="logo_montagne" class="logo_categorie" src="img/logos/foret_white.png" alt="">
							<h2>MONTAGNE</h2>
						</li>			
					</a>
					<a href="#">
						<li class="logo_desc">
							<img id="logo_urbain" class="logo_categorie" src="img/logos/foret_white.png" alt="">
							<h2>URBAIN</h2>
						</li>			
					</a>
				</ul>
			</div>
			<div class="container">
				<!-- <div class="row">				
					<div class="conteneur_categories">
						<a href="#" id="cat_decouverte" >
							<div class="box_cat_layout"><div>
							<div class="middle">
								<img id="logo_decouverte" class="logo_categorie" src="img/logos/foret.png" alt="">
								<h2>DECOUVERTE</h2>
							</div>	
						</a>
					</div>
				</div> -->

				<div class="row">
					<div id="top_title" class="one-half column center">
						<img class="main_logo_cat" src="img/logos/foret.png">
						<p class="title">DECOUVERTE</p>
					</div>
				</div>
				<!-- LIST DEROULANTE -->
				<!-- <div class="row">
					<div class="filterInner">
						<div class="selected"></div>
						<div class="ul">
							<ul>
								<li><a href="#" data-id=""><span class="pix empty"></span><span class="txt" data-text="Select your region">All</span></a></li>
								<li><a href="#" data-id="2"><span class="pix europe"></span><span class="txt">Europe</span></a></li>
								<li><a href="#" data-id="6"><span class="pix africa"></span><span class="txt">Africa</span></a></li>
								<li><a href="#" data-id="3"><span class="pix asia"></span><span class="txt">Asia</span></a></li>
								<li><a href="#" data-id="5"><span class="pix oceania"></span><span class="txt">Oceania</span></a></li>
								<li><a href="#" data-id="1"><span class="pix usa"></span><span class="txt">North America</span></a></li>
								<li><a href="#" data-id="4"><span class="pix south-america"></span><span class="txt">South America</span></a></li>
						</ul>
					</div>
				</div> -->
				<div class="article_conteneur">
					<a class="continent_1" href="javascript:" onclick="affArticle('test')">
						<img src="../img/experiences/decouverte.jpg" class="loadImageHide">
						<div class="bg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/foret_white.png" >
							<h2>KARUNDA SCENIC RAILWAY</h2>
						</div>
					</a>
					<a class="continent_1" href="javascript:" onclick="affArticle('test')">
						<img src="../img/experiences/decouverte.jpg" class="loadImageHide">
						<div class="bg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/foret_white.png" >
							<h2>KARUNDA SCENIC RAILWAY</h2>
						</div>
					</a>
					<a class="continent_1" href="javascript:" onclick="affArticle('test')">
						<img src="../img/experiences/decouverte.jpg" class="loadImageHide">
						<div class="bg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/foret_white.png" >
							<h2>KARUNDA SCENIC RAILWAY</h2>
						</div>
					</a>
					<a class="continent_1" href="javascript:" onclick="affArticle('test')">
						<img src="../img/experiences/decouverte.jpg" class="loadImageHide">
						<div class="bg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/foret_white.png" >
							<h2>KARUNDA SCENIC RAILWAY</h2>
						</div>
					</a>
				</div>
			</div>
		</div>
		<footer></footer>
