		<header class="article_header bg" id="header_" data-title="pick the best experience" data-src="img/experiences/background.jpg"></header>
		<nav></nav>
		<div id="page" class="experience">
			<div class="conteneur_categories">
				<ul id="cat_decouverte" >
					<a href="#">
						<li data-exp='1' class="logo_desc exp_id">
							<div class="bg" data-src="img/experiences/decouverte.jpg"></div>
							<div class="overlay"></div>
							<div class="middle">
								<img class="logo" src="img/logos/insolite_white.png" >
								<h2>insolite</h2>
							</div>
						</li>		
					</a>	
					<a href="#">
						<li data-exp='2' class="logo_desc exp_id">
							<div class="bg" data-src="img/experiences/decouverte.jpg"></div>
							<div class="overlay"></div>
							<div class="middle">
								<img class="logo" src="img/logos/montagne_white.png" >
								<h2>montagne</h2>
							</div>
						</li>			
					</a>
					<a href="#">
						<li data-exp='3' class="logo_desc exp_id">
							<div class="bg" data-src="img/experiences/decouverte.jpg"></div>
							<div class="overlay"></div>
							<div class="middle">
								<img class="logo" src="img/logos/mer_white.png" >
								<h2>mer</h2>
							</div>
						</li>			
					</a>
					<a href="#">
						<li data-exp='4' class="logo_desc exp_id">
							<div class="bg" data-src="img/experiences/decouverte.jpg"></div>
							<div class="overlay"></div>
							<div class="middle">
								<img class="logo" src="img/logos/desert_white.png" >
								<h2>desert</h2>
							</div>
						</li>			
					</a>
					<a href="#">
						<li data-exp='5' class="logo_desc exp_id">
							<div class="bg" data-src="img/experiences/decouverte.jpg"></div>
							<div class="overlay"></div>
							<div class="middle">
								<img class="logo" src="img/logos/urbain_white.png" >
								<h2>urbain</h2>
							</div>
						</li>			
					</a>
				</ul>
			</div>
			<div class="container">
				<div class="row">
					<div id="top_title" class="one-half column center">
						<img id="main_logo_cat" src="">
						<p class="title">DECOUVERTE</p>
					</div>
				</div>
				<div id="article_conteneur">
					<a class="article_bloc exp_1" href="javascript:" onclick="affArticle('article')">
						<!-- <img src="img/experiences/decouverte.jpg" class="loadImageHide"> -->
						<div class="bg" data-src="img/experiences/test.jpg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/montagne_white.png" >
							<h2>KARUNDA SCENIC RAILWAY</h2>
						</div>
					</a>
					<a class="article_bloc exp_1" href="javascript:" onclick="affArticle('article')"><!-- 
						<img src="img/experiences/decouverte.jpg" class="loadImageHide"> -->
						<div class="bg" data-src="img/experiences/decouverte.jpg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/montagne_white.png" >
							<h2>KARUNDA SCENIC RAILWAY</h2>
						</div>
					</a>
					<a class="article_bloc exp_1" href="javascript:" onclick="affArticle('article')">
						<!-- <img src="img/experiences/decouverte.jpg" class="loadImageHide"> -->
						<div class="bg" data-src="img/experiences/decouverte.jpg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/montagne_white.png" >
							<h2>KARUNDA SCENIC RAILWAY</h2>
						</div>
					</a>
					<a class="article_bloc exp_2" href="javascript:" onclick="affArticle('article')">
						<!-- <img src="img/experiences/decouverte.jpg" class="loadImageHide"> -->
						<div class="bg" data-src="img/experiences/test.jpg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/montagne_white.png" >
							<h2>KARUNDA SCENIC RAILWAY</h2>
						</div>
					</a>
					<a class="article_bloc exp_3" href="javascript:" onclick="affArticle('article')"><!-- 
						<img src="img/experiences/decouverte.jpg" class="loadImageHide"> -->
						<div class="bg" data-src="img/experiences/decouverte.jpg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/montagne_white.png" >
							<h2>KARUNDA SCENIC RAILWAY</h2>
						</div>
					</a>
					<a class="article_bloc exp_3" href="javascript:" onclick="affArticle('article')">
						<!-- <img src="img/experiences/decouverte.jpg" class="loadImageHide"> -->
						<div class="bg" data-src="img/experiences/decouverte.jpg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/montagne_white.png" >
							<h2>KARUNDA SCENIC RAILWAY</h2>
						</div>
					</a>
					<a class="article_bloc exp_4" href="javascript:" onclick="affArticle('article')">
						<!-- <img src="img/experiences/decouverte.jpg" class="loadImageHide"> -->
						<div class="bg" data-src="img/experiences/test.jpg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/montagne_white.png" >
							<h2>KARUNDA SCENIC RAILWAY</h2>
						</div>
					</a>
					<a class="article_bloc exp_1" href="javascript:" onclick="affArticle('article')"><!-- 
						<img src="img/experiences/decouverte.jpg" class="loadImageHide"> -->
						<div class="bg" data-src="img/experiences/decouverte.jpg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/montagne_white.png" >
							<h2>KARUNDA SCENIC RAILWAY</h2>
						</div>
					</a>
					<a class="article_bloc exp_5" href="javascript:" onclick="affArticle('article')">
						<!-- <img src="img/experiences/decouverte.jpg" class="loadImageHide"> -->
						<div class="bg" data-src="img/experiences/decouverte.jpg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/montagne_white.png" >
							<h2>KARUNDA SCENIC RAILWAY</h2>
						</div>
					</a>
					<a class="article_bloc exp_5" href="javascript:" onclick="affArticle('article')">
						<!-- <img src="img/experiences/decouverte.jpg" class="loadImageHide"> -->
						<div class="bg" data-src="img/experiences/test.jpg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/montagne_white.png" >
							<h2>KARUNDA SCENIC RAILWAY</h2>
						</div>
					</a>
					<!-- <a class="article_bloc exp_6" href="javascript:" onclick="affArticle('article')">
						<img src="img/experiences/decouverte.jpg" class="loadImageHide">
						<div class="bg" data-src="img/experiences/test.jpg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/foret_white.png" >
							<h2>KARUNDA SCENIC RAILWAY</h2>
						</div>
					</a>
					<a class="article_bloc exp_6" href="javascript:" onclick="affArticle('article')">
						<img src="img/experiences/decouverte.jpg" class="loadImageHide">
						<div class="bg" data-src="img/experiences/test.jpg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/foret_white.png" >
							<h2>KARUNDA SCENIC RAILWAY</h2>
						</div>
					</a> -->
				</div>
			</div>
		</div>
		<footer></footer>
