		<header class="article_header" id="header_" data-title="pick the best experience"></header>
		<nav></nav>
		<div id="page">
			<div class="conteneur_categories">
				<ul id="cat_decouverte" >
					<a href="#">
						<li data-exp='1' class="logo_desc exp_id">
							<img id="logo_decouverte" class="logo_categorie" src="img/logos/foret_white.png" alt="">
							<h2>DECOUVERTE</h2>
						</li>			
					</a>	
					<a href="#">
						<li data-exp='2' class="logo_desc exp_id">
							<img id="logo_foret" class="logo_categorie" src="img/logos/foret_white.png" alt="">
							<h2>FORÊT</h2>
						</li>			
					</a>
					<a href="#">
						<li data-exp='3' class="logo_desc exp_id">
							<img id="logo_mer" class="logo_categorie" src="img/logos/foret_white.png" alt="">
							<h2>MER</h2>
						</li>			
					</a>
					<a href="#">
						<li data-exp='4' class="logo_desc exp_id">
							<img id="logo_montagne" class="logo_categorie" src="img/logos/foret_white.png" alt="">
							<h2>MONTAGNE</h2>
						</li>			
					</a>
					<a href="#">
						<li data-exp='5' class="logo_desc exp_id">
							<img id="logo_urbain" class="logo_categorie" src="img/logos/foret_white.png" alt="">
							<h2>URBAIN</h2>
						</li>			
					</a>
				</ul>
			</div>
			<div class="container">
				<!-- <div class="row">				
					<div class="conteneur_categories">
						<a href="#" id="cat_decouverte" >
							<div class="box_cat_layout"><div>
							<div class="middle">
								<img id="logo_decouverte" class="logo_categorie" src="img/logos/foret.png" alt="">
								<h2>DECOUVERTE</h2>
							</div>	
						</a>
					</div>
				</div> -->

				<div class="row">
					<div id="top_title" class="one-half column center">
						<img class="main_logo_cat" src="img/logos/foret.png">
						<p class="title">DECOUVERTE</p>
					</div>
				</div>
				<div class="article_conteneur">
					<a class="article_bloc exp_1" href="javascript:" onclick="affArticle('test')">
						<img src="img/experiences/decouverte.jpg" class="loadImageHide">
						<div class="bg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/foret_white.png" >
							<h2>KARUNDA SCENIC RAILWAY</h2>
						</div>
					</a>
					<a class="article_bloc exp_1" href="javascript:" onclick="affArticle('test')">
						<img src="img/experiences/decouverte.jpg" class="loadImageHide">
						<div class="bg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/foret_white.png" >
							<h2>KARUNDA SCENIC RAILWAY</h2>
						</div>
					</a>
					<a class="article_bloc exp_1" href="javascript:" onclick="affArticle('test')">
						<img src="img/experiences/decouverte.jpg" class="loadImageHide">
						<div class="bg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/foret_white.png" >
							<h2>KARUNDA SCENIC RAILWAY</h2>
						</div>
					</a>
					<a class="article_bloc exp_1" href="javascript:" onclick="affArticle('test')">
						<img src="img/experiences/decouverte.jpg" class="loadImageHide">
						<div class="bg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/foret_white.png" >
							<h2>KARUNDA SCENIC RAILWAY</h2>
						</div>
					</a>
				</div>
			</div>
		</div>
		<footer></footer>
