
		<header id="home" data-title="THE RAILWAY CHRONICLES"></header>
			<nav></nav>
			<div id="page">
				<div id="homepage" class="container">
					<div class="row">
						<div class="one-half column center" id="actuality">
							<p>QUOI DE NEUF ?</p>
						</div>
					</div>
					<div class="row">
						<div class="one-half column center" id="actualityc">
							<p>
								Hacque adfabilitate confisus cum eadem postridie feceris, ut incognitus haerebis et repentinus, hortatore illo hesterno clientes numerando, qui sis vel unde venias diutius ambigente agnitus vero tandem et adscitus in amicitiam si te salutandi adsiduitati dederis triennio indiscretus et per tot dierum defueris tempus, reverteris ad paria perferenda, nec ubi esses interrogatus et quo tandem miser discesseris, aetatem omnem frustra in stipite conteres summittendo.
							</p>
						</div>
					</div>
					<div class="row">
						<div class="one-half column" id="articles">
							<p class="title">NOS ARTICLES</p>
						</div>
					</div>
					<div class="row">
						<a href="#" onclick="affArticle('levoyagedesacha')">
							<div id="levoyagedesacha" class="twothirds1 images reading_content" data-type="sacha">
								<p class="articletext">LE VOYAGE DE SACHA</p>
							</div>
						</a><!--
						--><div id="galerie" class="onethird1 images reading_content" data-type="gallery">
							<p class="articletext">GALERIE</p>
						</div>
					</div>
					<div class="row">
						<a href="#" onclick="affArticle('experiences')">
							<div id="experiences" class="onethird2 images reading_content" data-type="experiences">
								<p class="articletext">EXPÉRIENCES</p>
							</div>
						</a><!--
						--><div id="destinations" class="twothirds2 images reading_content" data-type="destinations">
							<p class="articletext">NOS DESTINATIONS</p>
						</div>
					</div>
					<div class="row">
						<div class="one-half column" id="ourteam">
							<p class="title">NOTRE ÉQUIPE</p>
						</div>
					</div>
					<div class="row" id="members">
						<div class="one-third column">
							<a href="http://www.aleqsandr.fr"><div id="avatar1" class="avatar"></div></a>
							<p><strong>Alexandre</strong> REHO, <br>le rêveur
							<br><br>
							<i>"Voyager, c'est vivre."</i></p>
						</div>
						<div class="one-third column">
							<div id="avatar2" class="avatar"></div>
							<p><strong>Lisa</strong> COUAVOUX, <br>l'alcoolique
							<br><br>
							<i>"Vive la binouze HIC."</i></p>
						</div>
						<div class="one-third column">
							<div id="avatar3" class="avatar"></div>
							<p><strong>Antoine</strong> DEMIÈRE, <br>le voyageur
							<br><br>
							<i>"Qué ?"</i></p>
						</div>
					</div>
					<div class="row" id="contactus">
						<div class="eight columns">
							<p class="title">CONTACTEZ-NOUS</p>
						</div>
					</div>
					<div class="row" id="contact">
						<form id="contact-form">
	  						<p>
		  						Votre
		    					<label for="your-name">nom</label> est
		    					<input type="text" name="your-name" id="your-name" minlength="3" placeholder="votre nom ici" required> et
		    				</p>
							<p>votre
								<label for="email">adresse email</label> est
								<input type="email" name="your-email" id="email" placeholder="votre email ici" required>
							</p>
	  						<p> Quel est votre 
	    						<label for="your-message">message</label> pour nous ?
	    					</p>
	  						<p>
	    						<textarea name="your-message" id="your-message" placeholder="votre message ici" class="expanding" required></textarea>
	  						</p>
	  						<p>
	    						<button type="submit">
	      							<svg version="1.1" class="send-icn" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="36px" viewBox="0 0 100 36" enable-background="new 0 0 100 36" xml:space="preserve">
	        							<path d="M100,0L100,0 M23.8,7.1L100,0L40.9,36l-4.7-7.5L22,34.8l-4-11L0,30.5L16.4,8.7l5.4,15L23,7L23.8,7.1z M16.8,20.4l-1.5-4.3
									l-5.1,6.7L16.8,20.4z M34.4,25.4l-8.1-13.1L25,29.6L34.4,25.4z M35.2,13.2l8.1,13.1L70,9.9L35.2,13.2z" />
	     							</svg>
	    						</button>
	  						</p>
						</form>
					</div>
				</div>
			</div><!--
			--><footer></footer>