<div id="burger_menu">
	<!-- <img id="burger" src="img/logos/burger.png" alt=""> -->
	<a id="burger" href="#">
	<div class = "burger-menu burger-menu--closed">
		<div class="bar"></div>
		<div class="bar"></div>
		<div class="bar"></div>
	</div>
	</a>
	<ul id="menu" class="">
		<a id="nav_index" class="" href="javascript:" onclick="affArticle('index')"><li>Accueil</li></a>
		<a id="sacha" class=""  href="javascript:" onclick="affArticle('levoyagedesacha')"><li>Voyage de Sacha</li></a>
		<a id="nav_destinations" class=""  href="javascript:" onclick="affArticle('dest')"><li>Destinations</li></a>
		<a id="nav_experiences" class=""  href="javascript:" onclick="affArticle('experiences')"><li>Expériences</li></a>
		<a id="nav_about" class=""  href="javascript:" onclick="affArticle('about')"><li>A propos</li></a>
		<a id="nav_contact" class=""  href="javascript:" onclick="affArticle('contact')"><li>Contact</li></a>
		<!-- <a id="nav_article" class=""  href="javascript:" onclick="affArticle('article')"><li>Article</li></a> -->
	</ul>
</div>