<ul id="menu">
	<a class=""  href="javascript:" onclick="affArticle('index')"><li>Accueil</li></a>
	<a class=""  href="javascript:" onclick="affArticle('sacha')"><li>Voyage de Sacha</li></a>
	<a class=""  href="javascript:" onclick="affArticle('dest')"><li>Destinations</li></a>
	<a class=""  href="javascript:" onclick="affArticle('experiences')"><li>Expériences</li></a>
	<a class=""  href="javascript:" onclick="affArticle('about')"><li>A propos</li></a>
	<a class=""  href="javascript:" onclick="affArticle('contact')"><li>Contact</li></a>
	<a class=""  href="javascript:" onclick="affArticle('article')"><li>Article</li></a>
</ul>